.root {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
    -fx-font-family: "Courier New";
    -fx-base: #242424;
    -fx-background: #242424;
}

.text-field {
    -fx-background-color: #242424;
    -fx-text-fill: white;
    -fx-font-size: 40px;
}
